<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-method Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4a68b">  <td>17/10/03 12:51:40</td>   <td>0</td> <td title="&lt;&lt;ParallelTestNg.afterMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@e45f292]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/03 12:50:52</td>   <td>-47813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelTestNg.beforeMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@204f30ec]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/03 12:51:00</td>   <td>-39793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelTestNg.beforeMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@204f30ec]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/03 12:51:11</td>   <td>-28982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelTestNg.beforeMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@e45f292]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/03 12:51:19</td>   <td>-20620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelTestNg.beforeMethod()[pri:0, instance:testng.practise.parallel.ParallelTestNg@e45f292]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/03 12:50:59</td>   <td>-40993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestNg.launchGooglePage()[pri:0, instance:testng.practise.parallel.ParallelTestNg@204f30ec]">launchGooglePage</td> 
  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/03 12:51:18</td>   <td>-22313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestNg.launchGooglePage()[pri:0, instance:testng.practise.parallel.ParallelTestNg@e45f292]">launchGooglePage</td> 
  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/03 12:51:07</td>   <td>-33302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestNg.test(java.lang.String)[pri:0, instance:testng.practise.parallel.ParallelTestNg@204f30ec]">test</td> 
  <td>main@555826066</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/03 12:51:26</td>   <td>-13896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestNg.test(java.lang.String)[pri:0, instance:testng.practise.parallel.ParallelTestNg@e45f292]">test</td> 
  <td>main@555826066</td>   <td></td> </tr>
</table>
