<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>17/10/04 10:59:28</td>   <td>0</td> <td title="&lt;&lt;DataProviderTest.afterMethod()[pri:0, instance:testng.practise.parallel.DataProviderTest@754ba872]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/10/04 10:58:47</td>   <td>-40397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderTest.beforeMethod()[pri:0, instance:testng.practise.parallel.DataProviderTest@754ba872]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/10/04 10:59:02</td>   <td>-25957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderTest.beforeMethod()[pri:0, instance:testng.practise.parallel.DataProviderTest@754ba872]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/10/04 10:59:16</td>   <td>-11904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderTest.beforeMethod()[pri:0, instance:testng.practise.parallel.DataProviderTest@754ba872]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/10/04 10:58:58</td>   <td>-29546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderTest.launchGooglePage()[pri:0, instance:testng.practise.parallel.DataProviderTest@754ba872]">launchGooglePage</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/10/04 10:59:10</td>   <td>-17871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderTest.test(java.lang.String)[pri:0, instance:testng.practise.parallel.DataProviderTest@754ba872]">test</td> 
  <td>main@1007653873</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/10/04 10:59:23</td>   <td>-4358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderTest.test(java.lang.String)[pri:0, instance:testng.practise.parallel.DataProviderTest@754ba872]">test</td> 
  <td>main@1007653873</td>   <td></td> </tr>
</table>
