<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4a68b">  <td>17/10/02 13:59:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowserTestNg.beforeTest(java.lang.String)[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@204f30ec]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/02 14:00:06</td>   <td>12828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowserTestNg.navigate()[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@204f30ec]">navigate</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/02 14:00:09</td>   <td>15877</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowserTestNg.afterTest()[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@204f30ec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/02 14:00:10</td>   <td>16638</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowserTestNg.beforeTest(java.lang.String)[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@e45f292]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/02 14:00:11</td>   <td>17672</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowserTestNg.beforeTest(java.lang.String)[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@27c20538]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/02 14:00:14</td>   <td>20880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowserTestNg.navigate()[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@27c20538]">navigate</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/10/02 14:00:17</td>   <td>23986</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowserTestNg.afterTest()[pri:0, instance:testng.practise.multibrowser.MultiBrowserTestNg@27c20538]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
</table>
